*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
    width: 1200px;
    display: grid;
    grid-template-columns: 100px 1000px 100px;
    font: 16px/1.6 serif;
}

.header {
    grid-column: 2;
    color: #fff;
    background-color: #1f2937;
}